<div class="centeruser">
  <%= simple_form_for([@fcomite, @comite, @usercomite], :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>
    <div class="responsive">
      <div class="modal-body">  
        <div class="control-group">
          <div class="row" id ="colors">
            <div class= "span6"> 
              <center><h4>Datos Miembros Del Comite</h4></center>
              <hr>
              <div class="form-inputs">
                <%= f.input :nombre %>
                <div class="controls-group" >

                <label class="control-label">Emails Miembros</label>
                <div class="controls">
                  <%= f.text_area(:emails, :rows => 10) %>
                </div>  
              </div>
               
               
               
              </div>
            </div>
          </div>
        </div>
          <%= f.submit "Guardar", :class => 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>  