<!DOCTYPE html>
<html lang="es">
	<head>
			<meta chartset="utf-8"/>
			<title>SCQ - Sistema Centralizado de Quejas</title>
	</head>
	<body>

		<p><%= image_tag attachments['logo-sena.png'].url -%></p>
	
		

		<p>Solicitud de información adicional: <%= "#{@body}" %></p>
		
	</body>
	<footer>
		<p>Mensaje enviado por la aplicación  S.C.M  <%= image_tag attachments['scm.png'].url -%> </p>
	</footer>
</html>