<%- model_class = Queja -%>

<div class="modal-body">
	<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$.lazybox.close()">h;</button> -->
    <h3>La queja a sido remitida para ser asignada a un comite</h3>
</div>
    
