<%- model_class = TipoDocumento -%>

<h1><%=t '.title', :default => model_class.model_name.human %></h1>


<div class='tipodocumento'>
  <p>id: <%= @tipo_documento.id %></p>
  <p>sigla: <%= @tipo_documento.sigla %></p>
  <p>descripcion: <%= @tipo_documento.descripcion %></p>
</div>
