<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="assets/scm.png">
        <title>Welcome</title>
        <meta name="SCM" >
        <meta name="author" >
        <%= stylesheet_link_tag "application", :media => "all" %>
       
        <%= csrf_meta_tags %>
        <%= yield(:head) %>
    </head>
    <body id="imgen">
        <div class="span8" >
            <div class="well" id="border">
                <div class=''> 
                    <div class="tabbable tabs-left ">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1" data-toggle="tab">SCQ</a></li>
                            <li><a href="#tab2" data-toggle="tab">Agradecimientos</a></li>
                            <li><a href="#tab3" data-toggle="tab">Contáctenos</a></li>
                        </ul>
                        <div id ="l">
                            <div class="span3">
                                <div id="es" class="tab-content">
                                    <div class="tab-pane active" id ="tab1">
                                        <p>SCM es un proyecto sin ánimo de lucro, creado para facilitar el proceso que realiza el comite de seguimiento. posibilita que los aprendices puedan ver el seguimiento que se le realizaclientes.</p>
                                        <img src="assets/senascm.png" />
                                    </div>
                                    <div class="tab-pane" id="tab2" >
                                        Aquellas personas que estuvieron acompañandome en este proceso.
                                    </div>
                                    <div class="tab-pane" id="tab3">
                                        <p>Si desea comunicarse con nosotros, puede escribirnos al correo que aparece en el link, estamos ubicados en Medellín, Colombia en la calle XXX número: XXXXX.</p>
                                        SCM@gmail.com.co
                                        <br><br>
                                        <p>Síguenos a través de las redes sociales por Twitter:</p>
                                        @SCM
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </body>
</html>